@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --primary-clr: #4E73DF;
    --secondary-clr: #e7e7e7;
    --tertiary-clr: #646464;
    --list-item-clr: #6a6a6a;
    --search-btn-clr: #b8b8b8;

    --heading-size: 1.3125rem;
    --heading-weight: 400;

    --assistive-text-weight: 500;
    --assistive-text-size: 0.625rem;

    --placeholder-weight: 500;
    --placeholder-size: 0.75rem;

    --list-cname-weight: 600;
    --list-cname-size: 0.9375rem;

    --container-border-radius: 30px;
}

html {font-family: 'Montserrat', sans-serif !important;}

body {
    background-color: var(--secondary-clr);
}



.page-wrapper {
    width: 100%;
}

/* inner wrapper  */

.inner-wrapper {
    background-color: var(--secondary-clr);
    width: 98%;
}

.btn-wrapper {
    padding-left: 15%;
}

/* search  */

.input-group {
    /* margin: 1rem 3rem 0 3rem; */
}

.search-bg {
    background-color: rgb(214, 214, 214) !important;
}


/* list  */

.list-wrapper {
    margin: 2em;
}

.list {
    overflow-x: scroll;
    min-height: auto;
    margin: 0 0 2em 0;
}

th {
    white-space: nowrap;
    padding: 2em 1em !important;
    color: var(--list-item-clr);
    font-weight: var(--list-cname-weight);
}

td {
    padding: 2em 2em !important;
    white-space: nowrap;
}

.table-text-clr {
    color: var(--list-item-clr);
}

/* media queries  */

@media screen and (max-width:1350px) {
    .col-margin {
        padding: 0 4em 0 0;
    }
}