@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #4E73DF;
    --secondary-clr: #e7e7e7;
    --tertiary-clr: #646464;
    --list-hover-clr: #e0e0e0;
    --input-placeholder-clr: #7e7e7e;
    --textinput-clr: #909090;
    --list-item-clr: #6a6a6a;


    --heading-size: 21px;
    --heading-weight: 400;

    --assistive-text-weight: 500;
    --assistive-text-size: 10px;

    --placeholder-weight: 500;
    --placeholder-size: 12px;

    --list-cname-weight: 600;
    --list-cname-size: 15px;
}

:not(i) {
    font-family: 'Montserrat', sans-serif !important;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-clr);
}

/* search bar container  */

header {

    background-color: #ffff;
}

.top-bar {
    background-color: #ffffff;
    display: flex;
    min-height: 84px;
    align-items: center;
    overflow: hidden;
}


.search-wrapper {
    /* height: 49px; */
    /* background-color: var(--secondary-clr); */
    margin:0 0 0 55px;
    /* position: relative; */
    /* border: 0; */
}



