@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --primary-clr: #4E73DF;
    --secondary-clr: #e7e7e7;
    --tertiary-clr: #646464;
    --list-hover-clr: #e0e0e0;
    --input-placeholder-clr: #7e7e7e;
    --textinput-clr: #909090;
    --list-item-clr: #6a6a6a;

    /* 1.3125rem */

    --heading-size: 1.3125rem;
    --heading-weight: 400;

    --assistive-text-weight: 500;
    --assistive-text-size: 0.625rem;

    --placeholder-weight: 500;
    --placeholder-size: 0.75rem;

    --list-cname-weight: 600;
    --list-cname-size: 0.9375rem;

    --container-border-radius: 30px;
}

html {font-family: 'Montserrat', sans-serif !important;}

body {
    /* height: 100%; */
    /* width: 100%; */
    background-color: var(--secondary-clr);
}

/* search bar container  */

header {
    background-color: #ffff;
}

.top-bar {
    background-color: #ffffff;
    display: flex;
    min-height: 12vh;
    align-items: center;
    overflow: hidden;
}


.search-wrapper {
    margin:0 0 0 3.4375rem;
}

.search-icon {
    max-height: 1.2rem;
}

/* page wrapper  */

.page-wrapper {
    display: grid;
    grid-template-rows: minmax(450px, auto) 80vh; 
    grid-template-columns: 100%;
}

/* regjistrimi  */

h2 {
    font-size: var(--heading-size);
    font-weight: var(--heading-weight);
    margin: 0 0 .1em 1.2em;
}

.regjistrimi-wrapper {
    margin: 2em;
    max-height: auto;
}

.form-container {
    height: 100%;
    border-radius: var(--container-border-radius);
    position: relative;
    overflow-x: hidden;
    box-shadow: 0px 9px 21px -1px rgba(0, 0, 0, 0.25);
}

.form-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1.5%;
    background-color: var(--primary-clr);
}

.container-fluid {
    margin: 2em;
}

.row, .col {
    width: inherit;
    height: 100%;
}

.row {
    padding-bottom: 2em;
}

/* list  */

.list-wrapper {
    background-color: green;
    margin: 2em;
}

.list {
    overflow-x: scroll;
    min-height: auto;
}